:host {
    display: flex;
    flex-direction: row;
    height: 38px;
    align-items: center;
    padding: 5px 10px;
    overflow: hidden;
    z-index: 5;

    .content {
        display: flex;
        flex-direction: row;
        height: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .drag-handle {
        cursor: move;
        margin-right: 10px;
    }

    button.btn {
        display: flex;
        align-items: center;
        margin-right: 10px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        i + span {
            margin-left: 8px;
        }
    }
}

::ng-deep .btn {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
